
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ocultar barra de desplazamiento para Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Ocultar barra de desplazamiento para IE, Edge y Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
  /* Custom Scrollbar for Settings and Panels */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgba(148, 163, 184, 0.5) transparent; /* slate-400/50 */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.5); /* slate-400/50 */
    border-radius: 10px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: rgba(148, 163, 184, 0.8); /* slate-400/80 */
  }
}